[package]
edition      = "2021"
name         = "beacon-c3"
rust-version = "1.86"
version      = "0.1.0"

[[bin]]
name = "beacon-c3"
path = "./src/bin/main.rs"
test = false
bench = false


[dependencies]
esp-bootloader-esp-idf = { version = "0.2.0", features = ["esp32c3"] }
esp-hal                = { version = "=1.0.0-rc.0", features = ["esp32c3", "unstable"] }

bleps = { git = "https://github.com/bjoernQ/bleps", package = "bleps", rev = "a5148d8ae679e021b78f53fd33afb8bb35d0b62e", features = [
  "async",
  "macros",
] }
critical-section = "1.2.0"
embedded-io = "0.6.1"
esp-alloc = "0.8.0"
esp-wifi = { version = "0.15.0", features = [
  "ble",
  "builtin-scheduler",
  "coex",
  "esp-alloc",
  "esp32c3",
  "smoltcp",
  "wifi",
] }
smoltcp = { version = "0.12.0", default-features = false, features = ["medium-ethernet", "multicast", "proto-dhcpv4", "proto-dns", "proto-ipv4", "socket-dns", "socket-icmp", "socket-raw", "socket-tcp", "socket-udp", "socket-dhcpv4"] }
esp-mbedtls = { git = "https://github.com/esp-rs/esp-mbedtls.git", features = ["esp32c3"] }
esp-backtrace = { version = "0.17.0", features = ["esp32c3", "println", "panic-handler"] }
esp-println = { version = "0.15.0", features = ["auto", "esp32c3", "log-04"] }
cfg-if = "1.0.1"
heapless = { version = "0.9.1" }
hex = { version = "0.4.3", default-features = false, features = ["alloc"] }
p256 = { version = "0.13.2", default-features = false, features = ["sha256", "ecdsa"] }
sha2 = { version = "0.10.9", default-features = false }
esp-storage = { version = "0.7.0", features = ["esp32c3"] }
reqwless = { version = "0.13.0", features = ["log"] }
serde-json-core = { version = "0.6.0", features = ["heapless"] }
serde = { version = "1.0.219", default-features = false, features = ["derive"] }
embedded-nal = "0.9.0"
nb = "1.1.0"
futures = { version = "0.3.31", default-features = false, features = ["alloc", "async-await"] }
blocking-network-stack = { git = "https://github.com/bjoernQ/blocking-network-stack.git", rev = "b3ecefc222d8806edd221f266999ca339c52d34e" }
embedded-dht-rs = { version = "0.5.0", features = ["dht11"] }



[profile.dev]
# Rust debug is too slow.
# For debug builds always builds with some optimization
opt-level = "s"

[profile.release]
codegen-units    = 1     # LLVM can perform better optimizations using a single thread
debug            = 2
debug-assertions = false
incremental      = false
lto              = 'fat'
opt-level        = 's'
overflow-checks  = false
