[package]
name = "orchestrator"
version.workspace = true
edition.workspace = true
license.workspace = true

[dependencies]
tokio = { version = "1.43", features = [
  "macros",
  "rt-multi-thread",
  "sync",
  "time",
] }
tokio-stream = "0.1"
tonic = "0.12"
prost = "0.13"
log = "0.4"
env_logger = "0.11"
uuid = { version = "1.11", features = ["v4"] }

[build-dependencies]
tonic-build = "0.12"
