name: autofix.ci  # needed to securely identify the workflow

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  autofix:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup just
        uses: extractions/setup-just@v3

      # Repo-specific setup
      - name: Setup Taplo
        if: matrix.component == 'repo'
        uses: uncenter/setup-taplo@v1.0.8

      # Mobile-specific setup
      - name: Install pnpm
        if: matrix.component == 'mobile'
        uses: pnpm/action-setup@v4
        with:
          version: '10.20.0'

      - name: Use Node.js
        if: matrix.component == 'mobile'
        uses: actions/setup-node@v4
        with:
          node-version: '22.14.0'
          cache: "pnpm"

      - name: Install uv
        uses: astral-sh/setup-uv@v6

      # Tower-specific setup
      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.25.3'
          cache-dependency-path: admin/tower/go.sum
    
      - name: Format Code
        run: just fmt

      - uses: autofix-ci/action

